{% extends "main/base.html" %}
{% load static %}
{% block content %}

    <div class="search-container">
        <form action="">
            <input type="search" name="searchbox" id="" placeholder="Search Booking Code" autocomplete="off">
        </form>
    </div>
    
    <div class="bookings-container">
        {% for booking in bookings %}
        <div class="ticket-container">
            <div class="menu">
                <span class="menu-btn"><i class='bx bx-dots-vertical-rounded' ></i></span>
                <div class="dropmenu">
                    <a href="{% url 'delete_booking' booking.id %}" class="btn-delete"><span>Delete ticket</span> <i class="bx bx-trash"></i></a>
                    <a href="#" class="btn-download"><span>Download</span><i class="bx bx-download"></i></a>
                </div>
            </div>
            <img class="QR-code-image" src="data:image/png;base64,{{ qrcode_image}}" alt="">
            <div class="text-section">
                <div class="first-list">
                    <span class="tab" id="fullname">{{booking.full_name}}</span>
                    <span class="tab" id="index_number">{{booking.index_number}}</span>
                    <span class="tab" id="location">{{booking.location}}</span>
                </div>
                <div class="second-list">
                    <h2 class="user-code">{{booking.booking_code}}</h2>
                    <p id="phone_number">{{booking.phone_number}}</p>
                    <p id="luggage_number">{{booking.luggage_number}} luggage items</p>
                    <p id="booking-time">Booking time:  {{booking.booking_time}}</p>
                </div>
                
            </div>
        </div>
        {% endfor %}
        
        
    
    </div>

    
    <script>
        const menuBtn = document.querySelectorAll(".menu-btn")
        menuBtn.forEach(function(btn){
            btn.addEventListener('click', function() {
                
                var dropmenu = this.closest('.menu').querySelector('.dropmenu');
                // Toggle the visibility of the dropmenu

                if (dropmenu.style.visibility === 'hidden') {
                    dropmenu.style.visibility = 'visible';
                } else {
                    dropmenu.style.visibility = 'hidden';
                }
            })
        })

    </script>
{% endblock content %}